body{
    
    background-image: url(background-site.jpg);
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}

.photo{
    border: 3px solid #505050;;
    border-radius: 50%;
    margin-top: 5px;
}

#title, .subtitle, .post_title{
    color: #505050;
}
#tile{
    font-size: 40px;
    text-transform: uppercase;
}
a{
    text-decoration: underline;
    color: #505050
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background: white;
    padding: 15px;
    border: 3px solid #505050;;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: center;
}

.post_image{
    margin-bottom: 15px;
    width: 100%;
}

.contact_list{
    list-style-type: square;
    padding-left: 20px;
}

.contact_list li a{
    text-decoration: none;
}